
/* import the font from Google */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* default css */
body{
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* dashboard */
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px!important
}
.dashboard{
    width: 100%;
    height: auto;
    margin-top: 2.5%;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 50px 70px rgba(11,16,51,0.08);
    overflow: hidden;
    z-index: 2;
}

.dashboard .menu{
    display: flex;
    flex-direction: row;
    color: #fff;
    height: 90vh;
    padding: 0;
    width: 850px;
    
}
.dashboard .menu .nav{
    flex: 1;
    background-color: rgb(14, 20, 54);
    height: 100%;
    padding: 20px 0 0 15px;
    position: relative;
}
.dashboard .menu .nav .lines{
    height: 40px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}
.dashboard .menu .nav .lines .line{
    width: 35%;
    height: 2px;
    background-color: #FFFFFF;
    margin: 5px auto 0 auto;
    border-radius: 3px;
}
.dashboard .menu .nav .lines .line:nth-child(3){
    width: 20%;
    margin-left: 21px;
}
.dashboard .menu .nav .icon-bar{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -40px;
}
.dashboard .menu .nav .icon-bar .icon{
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.dashboard .menu .nav .icon-bar .icon:hover {
    opacity: 1;
}
.dashboard .menu .nav .icon-bar .icon img{
    height: 30%;
    width: 30%;
    margin: auto;
    cursor: pointer;
}
.dashboard .menu .nav .icon-bar .icon.active{
    border-left: 3px solid #42C7D3;
    opacity: 1;
    position: relative;
}
.dashboard .menu .nav .icon-bar .icon.active .notification,
.chat .top-banner .profile .icon .notification{
    height: 10px;
    width: 10px;
    background-color: #FFAE2A;
    position: absolute;
    border-radius: 50%;
    top: 24%;
    right: 28%;
}
.dashboard .menu .nav .icon-bar .icon.active img{
    height: 35%;
    width: 35%;
}
/* second column */
.dashboard .menu .basic{
    flex: 4;
    background-color: rgb(22, 31, 68);
    height: 100%; 
    padding: 20px 0 0 0;
}
.dashboard .menu .basic .msgs,
.dashboard .menu .basic .contacts{
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: relative;
}
.dashboard .menu .basic .msgs h6{
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1.2;
    word-wrap: break-word;
}
.dashboard .menu .basic .msgs h6 img{
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
}
.dashboard .menu .basic .msgs .msgs-sqaure,
.dashboard .menu .basic .contacts .people{
    background-color: #0E1436;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category{
    display: flex;
    padding: 0 0 15px 0px;
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category:hover {
    opacity: 1;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category .icon{
    height: 20px;
    width: 20px;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category .icon img{
    height: 77%;
    width: 77%;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category.active{
    border-left: 3px solid #42C7D3;
    opacity: 1;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category.active img{
    height: 80%;
    width: 80%;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category h6{
    font-size: 13px;
    margin: 5px 0 0 10px;
    flex: 4;
}
.dashboard .menu .basic .msgs .msgs-sqaure .category span{
    flex: 1;
    background-color: #FFAE2A;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
}
.dashboard .menu .basic .contacts .people{
    padding:20px;
    position: relative;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dashboard .menu .basic .contacts .people h6{
    text-transform: capitalize;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 500;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.dashboard .menu .basic .contacts .people span{
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.dashboard .menu .basic .contacts .people .state{
    display: flex;
    margin: 0 0 15px 15px;
    cursor: pointer;
    width: 150px;
}
.dashboard .menu .basic .contacts .people .state:hover h6,
.dashboard .menu .basic .contacts .people .state:hover span{
    color: #ffff;
}
.dashboard .menu .basic .contacts .people .state .pic,
.conversations .info .pic,
.chat .group-banner .members .pic{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 0 15px 0 0;
    position: relative;
}
.dashboard .menu .basic .contacts .people .state .pic img,
.conversations .info .pic img,
.chat .group-banner .members .pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.dashboard .menu .basic .contacts .people .state h6{
    margin-bottom: 0;
    color: rgb(170, 169, 169);
    font-size: 16px;
    font-weight: 400;
}
.dashboard .menu .basic .contacts .people .state span{
    font-size: 11px;
    color: rgb(170, 169, 169);
}
.dashboard .menu .basic .contacts .people .state .pic .state-dot,
.conversations .info .pic .state-dot,
.chat .group-banner .members .pic .state-dot{
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 0;
    right: -5px;
    border: 2px solid #0E1436;
    background-color: rgb(31, 188, 209);
}
.dashboard .menu .basic .contacts .people .state .pic .state-dot.offline{
    background-color: #FFAE2A;
}
.dashboard .menu .basic .contacts button{
    width: 100%;
    padding: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    background-color: #42C7D3;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.88889em;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.dashboard .menu .basic .contacts button:hover{
    background-color: rgb(55, 171, 182);
}

/******************************************************/
/* third column */
.conversations {
    padding: 0;
    border-right:  2px solid rgb(245, 245, 245);
    position: relative;
}
.conversations .top-banner{
    border: 0;
    border-bottom: 2px solid rgb(245, 245, 245);
    padding: 20px;
    background-color: transparent;
    width: 100%;
    display: flex;
}
.conversations .top-banner h6{
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    line-height: 1.2;
    word-wrap: break-word;
    flex: 2;
}
.conversations .top-banner .icon{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.conversations .top-banner .icon.icon-1{
    margin-right: 20px;
}
.conversations .top-banner .icon img{
    height: 100%;
    width: 100%;
}
.conversations .conv{
    width: 90%;
    margin: auto;
    padding: 0 20px 20px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.conversations .info{
    display: flex;
    padding: 30px 0 0 0;
}
.conversations .info .name{
    display: flex;
    flex: 10;
}
.conversations .info .name h6{
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    text-transform: capitalize;
}
.conversations .info .name span{
    font-size: 12px;
    color: gray;
}
.conversations .info .pic .state-dot{
    border: 2px solid #ffff;
}
.conversations .info .pic .state-dot-2{
    border: 2px solid #0E1436;
}
.conversations .info span.num{
    flex: 1;
    background-color: #FFAE2A;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    height: 27px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
    font-size: 11px;
}
.conversations p{
    font-size: 12px;
    width: 80%;
    margin: -15px auto 0 54px;
    font-weight: 500;
    line-height: 25px;
    color: gray;
}
.conversations .conv-2{
    background-color: #0E1436;
    border-radius: 7px;
    color: #ffffff;
}
.conversations .conv-2 p{
    color: #ffffff;
    margin:7px auto 0 58px ;
}
.conversations .conv-2 .pic-2{
    position: absolute;
    top: 25%;
    left: 7%;
}
.conversations .conv-2 span.num{
    background-color: rgb(245, 207, 149);
    color: rgb(199, 126, 10);
}
.conversations .conv-2 .name{
    padding-left: 5px;
}

/******************************************************/
.chat{
    padding: 0;
    margin-left: 100px;
}
.chat .top-banner{
    border: 0;
    border-bottom: 2px solid rgb(245, 245, 245);
    background-color: transparent;
    width: 100%;
    position: relative;
    display: flex;
    align-items: right;
    justify-content: right;
}
.chat .top-banner .profile{
    display: flex;
    margin-right: 0;
}
.chat .top-banner .profile .icon{
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: 20px;
    margin: 22px 10px 10px 10px;
    cursor: pointer;
}
.chat .top-banner .profile .icon img{
    height: 100%;
    widows: 100%;
}
.chat .top-banner .profile .icon .notification{
    right: 0px;
    top: 2px;
    height: 9px;
    width: 9px;
}
.chat .top-banner .profile .logout{
    padding:0 40px 0 20px;
    border-left: 2px solid rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chat .top-banner .profile .logout img{
    height: 20px;
    width: 20px;
}
.chat .top-banner .profile .pro-pic{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 15px 30px 12px 20px;
    cursor: pointer;
}
.chat .top-banner .profile .pro-pic img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.chat .group-banner{
    display: flex;
    border-bottom: 2px solid rgb(245, 245, 245);
    padding: 13px 20px;
}
.chat .group-banner .members h6{
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 13px 10px 0 0;
}
.chat .group-banner .members{
    display: flex;
    flex: 8;
}
.chat .group-banner .members .pic .state-dot{
    border-color: #FFFFFF;
}
.chat .group-banner .members .pic.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(245, 245, 245) ;
    cursor: pointer;
}
.chat .group-banner .members .pic.add img{
    height: 50%;
    width: 50%;
}
.chat .group-banner .icon{
    height: 20px;
    width: 20px;
    flex: 1;
    margin-top: 7px;
    cursor: pointer;
}
.chat .group-banner .icon img{
    height: 100%;
    width: 100%;
}
.chat .chat-box{
    width: 100%;
    margin: auto;
    padding: 20px;
    position: relative;
    height: 400px;
    overflow-y: scroll;
}
.chat .chat-box .my-msg{
    margin-bottom: 20px;
}
.chat .chat-box .my-msg p{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: right;
    font-size: 12px;
}
.chat .chat-box .my-msg p span{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
}
.chat .chat-box .my-msg p span.time{
    color: gray;
    font-size: 11px;
    margin-right: 5px;
}
.chat .chat-box .my-msg p.paragraph{
    font-size: 13px;
    background-color: #0E1436;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px 0 15px 15px;
    text-align: left;
    width: 80%;
    margin-left: auto;
}
.chat .chat-box .pic{
    height: 60px;
    width: 60px;
}
.chat .chat-box .pic img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.chat .chat-box .user-msg p{
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.chat .chat-box .user-msg p span{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 13px;
}
.chat .chat-box .user-msg p span.time{
    color: gray;
    font-size: 11px;
    margin-right: 5px;
}
.chat .chat-box .user-msg p.paragraph{
    background-color: rgb(217, 246, 250);
    font-size: 13px;
    padding: 20px;
    border-radius: 0 15px 15px 15px;
    text-align: left;
    width: 80%;
    margin-right: auto;
}
.chat .input{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 15px;
}
.chat .input .dialog{
    display: flex;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px 12px 5px 0;
}
.chat .input .dialog input[type="text"]{
    flex: 2;
    border: 0;
    outline: none;
    padding: 0 0 0 20px;
    font-size:13px ;
}
.chat .input .dialog input[type="file"]{
    display: none;
}
.chat .input .dialog label img{
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.chat .input .dialog .icon{
    height: 16px;
    width: 16px;
    margin: 0 0 0 13px;
    cursor: pointer;
}
.chat .input .dialog .icon img{
    height: 100%;
    width: 100%;
}
.chat .input .dialog .icon.send{
    border-left: 2px solid rgb(245, 245, 245);
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat .input .dialog .icon.send img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
}
/***************************************/
/* shapes */
.shapes{
    height: 70vh;
    width: 70vh;
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
    background-color: rgb(168, 179, 241);
    border-radius: 50%;
}
.shapes-2{
    height: 70vh;
    width: 70vh;
    position: absolute;
    bottom: -10%;
    right: -10%;
    z-index: -1;
    background-color: rgb(203, 211, 255);
    border-radius: 50%;
}